xsd/Passenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:include schemaLocation="User.xsd"/>
	<xs:element name="Passenger" type="Passenger">
		<xs:annotation>
			<xs:documentation>All Passengers</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Passenger">
		<xs:sequence>
			<xs:element name="users_pkey_pas" type="User"/>
			<xs:element name="full_name" type="xs:string"/>
			<xs:element name="birth" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
